/* styles.css */

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease-in-out;
}

.square:focus {
  outline: none;
}

.square.filled {
  background-color: lightblue;
}

.status {
  margin-bottom: 10px;
}


.win-effect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation-name: scale-up-center;
  animation-duration: 0.5s;
}

@keyframes scale-up-center {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.winner.red-text {
  color: red;
}

.winner.blue-text {
  color: blue;
}


.winner-square {
  transition: background-color 1s ease-in-out;
}

.winner-highlight {
  background-color: yellow;
}

@keyframes highlightWinner {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: lightblue; /* veya başka bir renk */
  }
}

.game-title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.next-player {
  font-size: 20px;
  font-weight: bold;
  color: #666;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

